.container { 
  width: 700px;
  height: 400px;
}

.image {
  width: 700px;
  height: 400px;
}

:global {
  .slick-list {
    border-radius: 20px;
  }

  .slick-slide.slick-active.slick-current {
    height: 400px;
  }
}

@media screen and (max-width: 1250px) {
  .container, .image {
    width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .container, .image {
    max-width: 500px;
  }
}

@media screen and (max-width: 520px) {
  .container, .image {
    max-width: calc(100vw - 20px);
  }
}

@media screen and (max-width: 400px) {
  .container, .image {
    height: 200px;
  }

  :global {
    .slick-slide.slick-active.slick-current {
      height: 200px;
    }
  }
}
