.container {
  max-width: 1280px;
  text-align: left;
  margin: 0  auto;
  min-height: calc(100vh - 86px - 76px);
  display: flex;
  justify-content: space-between
}
.productsContainer {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 600px;

  &:last-child {
  margin-bottom: 0;
    
  }
}

.cardProduct {
  position: relative;
  display: flex;
  background-color: rgb(255 255 255);
  border-radius: 15px;
  margin-bottom: 20px;
}

.imageContainer {
  padding: 20px;
  text-align: center;
}

.title, .price {
  text-align: left;
  font-weight: 500;
}

.price {
  font-size: 18px;
}

.title {
  max-width: 330px;
  margin-top: 20px;
}

.changeButtons {
  display: flex;
  align-items: center;
  * {
    padding: 10px;
  }
  svg {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    &:hover {
      color: rgb(247, 179, 96);
    }
  }
}

.purchaseContainer {
  width: 600px;
  padding: 30px 0;
}

.purchaseCard {
  background-color: rgb(255 255 255);
  border-radius: 15px;
  text-align: center;
}

.purchasePrice {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 20px;
}

.priceButton {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  width: 400px;
  padding: 10px 0;
  background-color: rgb(255 160 44);
  border-radius: 10px;
  color: white;
  margin: 20px;
  &:hover {
    background-color: rgb(247, 179, 96);
  }
}

.closeButton {
  position: absolute;
  top: 5%;
  right: 3%;
  cursor: pointer;
  svg {
    width: 40px;
    height: 40px;
  }
  &:hover {
    color: rgb(247, 179, 96);
  }
}

.count {
  font-size: 18px;
}