.container {
  max-width: 1280px;
  text-align: left;
  margin: 0  auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cardProduct {
  background-color: rgb(255 255 255);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.imageContainer {
  padding: 20px;
  text-align: center;
}

.title, .price {
  text-align: left;
  font-weight: 500;
}

.title {
  min-height: 50px;
  font-size: 30px;
}

.price {
  font-size: 20px;
}

.description {
  text-align: left;
  font-size: 20px;
}

.button {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  padding: 10px 0;
  background-color: rgb(255 160 44);
  border-radius: 10px;
  color: white;
  margin: 0 auto;
  cursor: pointer;
  &:hover {
    background-color: rgb(247, 179, 96);
  }
}

.back {
  width: 200px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
  padding: 0;
  color: rgb(255 160 44);
  background-color: transparent;
  &:hover {
    background-color: transparent;
    color: rgb(247, 179, 96);
    text-decoration: underline;
  }
}

@media screen and (max-width: 1536px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1250px) {
  .container {
    max-width: 1100px;
  }
}

@media screen and (max-width: 650px) {
  .container {
    max-width: 500px;
  }
  
  .cardProduct {
    flex-direction: column;
  }
}



@media screen and (max-width: 430px) {
  .imageContainer {
    img {
      height: 250px;
      width: 100%;
    }
  }
}
