.purchaseContainer {
  padding: 30px 0;
  width: 40%;
}

.purchaseCard {
  background-color: rgb(255 255 255);
  border-radius: 15px;
  text-align: center;
  width: 100%;
}

.purchasePrice {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 20px;
  word-break: break-word;
}

@media screen and (max-width: 1000px) {
  .purchaseContainer {
    width: 100%;
  }
}
