.container {
  max-width: 1280px;
  text-align: left;
  margin: 0  auto;
}
.productsContainer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 20px;
}

.cardProduct {
  background-color: rgb(255 255 255);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.imageContainer {
  padding: 20px;
  text-align: center;
}

.title, .price {
  text-align: left;
  font-weight: 500;
}

.title {
  min-height: 50px;
  font-size: 30px;
}

.price {
  font-size: 20px;
}

.description {
  text-align: left;
  font-size: 20px;
}

.button {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  padding: 10px 0;
  background-color: rgb(255 160 44);
  border-radius: 10px;
  color: white;
  margin: 0 auto;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(247, 179, 96);
}

.back {
  width: 200px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
  padding: 0;
  color: rgb(255 160 44);
  background-color: transparent;
}

.button:hover {
  background-color: transparent;
  color: rgb(247, 179, 96);
  text-decoration: underline;
}