.wrap {
  display: flex;
  align-items: end;
}

.linearProgress {
  width: 100%;
  margin-top: -10px;
  align-self: flex-start;
}

@media screen and (max-width: 650px) {
  .wrap {
    flex-direction: column;
    align-items: start;
  }
}
